.artistGallery {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  width: 1400px;
  max-width: 90%;
  margin: 0 auto;
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.bandContainer {
  flex: 1 1 calc(20% - 100px);
  padding: 25px;
}

.bandContainer form {
  display: flex;
  flex-direction: column;
}

main .wrapper {
  display: flex;
}

.selectArtist {
  flex: 1 0 60%;
}

.displayPlaylist {
  flex: 0 1 40%;
}
