@media (max-width: 700px) {
  body {
    font-size: 90%;
  }
  header {
    .wrapper {
      align-items: center;
      flex-direction: column;
      .siteHeading {
        flex: auto;
      }
    }
    form {
      align-self: center;
    }
  }
  main .wrapper {
    flex-direction: column-reverse;
  }
  .bandContainer form {
    box-shadow: none;
  }
}
