@import "setup";
@import "vars";
@import "typography";

.artistGallery {
  display: flex;
  flex-wrap: wrap;
}

fieldset {
  border: none;
}

header {
  min-height: 40vh;
  @include orangeGradient(180deg);
  .wrapper {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
  .siteHeading {
    box-shadow: 15px 15px indigo;
    margin: 20px;
    padding: 25px;
    flex: 0 1 45%;
  }
  .userSearch {
    padding: 25px;
    border: #2980ff solid 0.2rem;
    label {
      display: block;
      padding: 5px;
    }
    select,
    input[type="search"] {
      margin-right: 15px;
    }
    select {
      font-family: $mainFont;
      background: #ffffff00;
      border: none;
      padding: 2px;
    }
    button[type="submit"] {
      background: $colorMidOrange;
      border: $colorMidOrange 0.1rem solid;
      border-radius: 5px;
      padding: 3px;
      &:active {
        background: $colorDarkOrange;
      }
    }
    input[type="search"] {
      width: calc(75% - 15px);
    }
  }
}

main {
  padding: 25px 0;
  min-height: 40vh;
  margin: 0 auto;
  .wrapper {
    display: flex;
  }
}

.selectArtist {
  flex: 1 1 calc(85% - 25px);
  margin-right: 25px;
}

.bandContainer {
  flex: 0 0 25%;
  padding: 25px;
  width: calc(100% - 25px / 2);
  form {
    display: flex;
    flex-direction: column;
    box-shadow: 15px 15px $colorOrange;
  }
  // img {
  //   flex: 1 1 50%;
  // }
  button {
    background: linear-gradient(90deg, #22efcb 0%, #2980ff 50%, #a125ff 100%);
  }
}

.displayPlaylist {
  padding: 5px;
  flex: 0 1 40%;
  border: solid 0.25rem;
  border-right: none;
  height: fit-content;
}

footer {
  min-height: 10vh;
  @include orangeGradient(360deg);
  padding: 25px 0;
  text-align: center;
  a {
    line-height: 2rem;
    display: block;
  }
}

.playlist {
  li {
    padding: 5px 0;
  }
  a {
    display: block;
    &:hover,
    &:focus {
      color: #2980ff;
    }
  }
  button {
    font-size: 0.75rem;
    background: #ffffff00;
    color: #b12525;
    text-transform: uppercase;
    font-weight: 500;
    border: #b12525 solid 0.1rem;
    border-radius: 5px;
    padding: 2px;
  }
  button:hover {
    background: #b12525;
    color: #fff;
  }
  span {
    font-weight: 700;
  }
}

@import "mediaQueries";
